version: '3.3'

services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: my_secret_pw
      MYSQL_DATABASE: my_prestashop_db
      MYSQL_USER: my_user
      MYSQL_PASSWORD: my_secret_pw
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY: 1
      - PMA_HOST: db:3306
      - PMA_USER: my_user
      - PMA_PASSWORD: my_secret_pw
    depends_on:
      - db
    ports:
      - 8080:80
    volumes:
      - /sessions
  prestashop:
    build: ./build/<build_tag>
    depends_on:
      - db
    ports:
      - "8000:80"
    volumes:
      - ./prestashop:/var/www/html
    environment:
      PS_DEV_MODE: 1
      PS_FOLDER_ADMIN: admin-dev
      PS_DOMAIN: localhost:8000
      DB_SERVER: db:3306
      DB_USER: my_user
      DB_PASSWORD: my_secret_pw
      DB_NAME: my_prestashop_db
      APACHE_RUN_USER: my_local_user
      APACHE_RUN_GROUP: my_local_user
      XDEBUG_CONFIG: remote_host=<your_local_host>
  storefront-dev:
    build: ./build/storefront-dev
    volumes:
      - ./prestashop/themes/storefront-dev/:/usr/src/app
    depends_on:
      - prestashop
volumes:
  db_data: {}
